*{
    /* box-sizing: border-box; */
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
#app{
    border: 1px solid black;
    box-sizing:content-box;
    display:inline-block;
    width:160px;
    height: 160px;
}
canvas{
    position: relative;
    width:100%;
    height:100%;
    image-rendering: pixelated;
}